In [28]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_csv('weatherHistory.csv')
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [30]:
mean_series = df.groupby('Summary')['Temperature (C)'].mean()
mean_series

Summary
Breezy                                  7.922016
Breezy and Dry                         21.111111
Breezy and Foggy                       -0.510317
Breezy and Mostly Cloudy               11.093411
Breezy and Overcast                     7.241614
Breezy and Partly Cloudy               12.492761
Clear                                  11.925109
Dangerously Windy and Partly Cloudy     8.944444
Drizzle                                10.847578
Dry                                    29.083660
Dry and Mostly Cloudy                  26.838492
Dry and Partly Cloudy                  26.605749
Foggy                                   1.464035
Humid and Mostly Cloudy                20.886389
Humid and Overcast                     21.515079
Humid and Partly Cloudy                21.568301
Light Rain                             10.021517
Mostly Cloudy                          12.629334
Overcast                                7.516502
Partly Cloudy                          16.024782
Rain                                   10.096111
Windy                                   6.804861
Windy and Dry                          27.222222
Windy and Foggy                        11.876389
Windy and Mostly Cloudy                11.834603
Windy and Overcast                      7.932963
Windy and Partly Cloudy                 9.968076
Name: Temperature (C), dtype: float64

In [35]:
df['date']=pd.to_datetime(df['Formatted Date'], utc=True)
df.set_index(df.date, inplace=True)

In [36]:
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,date
date,,,,,,,,,,,,,
2006-03-31 22:00:00+00:00,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,2006-03-31 22:00:00+00:00
2006-03-31 23:00:00+00:00,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,2006-03-31 23:00:00+00:00
2006-04-01 00:00:00+00:00,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,2006-04-01 00:00:00+00:00
2006-04-01 01:00:00+00:00,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,2006-04-01 01:00:00+00:00
2006-04-01 02:00:00+00:00,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,2006-04-01 02:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-09-09 17:00:00+00:00,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.,2016-09-09 17:00:00+00:00
2016-09-09 18:00:00+00:00,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.,2016-09-09 18:00:00+00:00
2016-09-09 19:00:00+00:00,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.,2016-09-09 19:00:00+00:00
2016-09-09 20:00:00+00:00,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.,2016-09-09 20:00:00+00:00
2016-09-09 21:00:00+00:00,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.,2016-09-09 21:00:00+00:00

In [40]:
df = df.resample('D').ffill()

ValueError: cannot reindex on an axis with duplicate labels

In [41]:
df_dates = pd.DataFrame({
    'year_month': ['2022-01', '2022-02', '2022-03']
})

In [43]:
df_dates

  year_month
0    2022-01
1    2022-02
2    2022-03

In [52]:
df_dates['year_month']=pd.to_datetime(df_dates['year_month'])

In [53]:
df_dates

  year_month
0 2022-01-01
1 2022-02-01
2 2022-03-01